.history {
	padding-top: 2rem;
}

.call-history thead {
	background: #F2F2F3;
}

#call-history td {
	border-bottom: 2px solid #ddd;
	font-size: 15px;
}

.call-history tbody {
	line-height: 1rem;
	font-size: 0.82rem;
  background-color: white;
}

.call-history tbody > tr {
	border-bottom: 1px solid #CFCFD6;
	border-left: 1px solid #CFCFD6;
	border-right: 1px solid #CFCFD6;
}

.call-history tbody > tr > td:first-child {
  margin-right: 0.5rem;
	margin-left: 2rem;
	padding-left: 2rem;
	background-color: aqua;
}

.first-child {
	border-bottom: 0px !important;
}

.second-child {
	border-left: 1px solid #eee;
	padding-left: 0px !important;
}

.last-child {
	border-bottom: 0px !important;
	border-left: 1px solid #eee;
}

#call-history tbody > tr > td:last-of-type {
	border-bottom: 0px !important;
	margin-right: 0.5rem;
}

#call-history tbody > tr > td:last-of-type img {
	float: right;
}

.history-search {
	position: relative;
	padding-bottom: 10px;
}

.calendar1 {
	width: 100%;
	background: url('../../assets/images/calendar.png') no-repeat scroll;
	background-position: 95% 50%;
	background-color: white;
	position: relative;
}

.react-date-picker__wrapper {
	border: 1px solid #CDCDD0;
	background-color: white;
	padding: 4px;
	margin-right: 10px;
}

.history-search label {
	display: block;
	text-align: left;
	font-size: 0.8rem;
  margin-bottom: 0.5rem;
	color: grey;
}

.bottom-nav {
	float: right;
	margin-bottom: 1rem;
	margin-top: 1rem;
	font-size: 12px;
}

.bottom-nav select {
	width: 3rem;
	margin-left: 0.5rem;
}
.bottom-nav label {
	margin-left: 0.5rem;
}
.col-8{
	flex: 0 0 69.666667%;
  max-width: 69.666667%;
}

.call-search-text{
	position: absolute;
	bottom: 0px;
	margin-bottom: 10px;
	right:0px;
	width: 15rem;
	background: url('../../assets/images/magnifying-glass.png') no-repeat scroll;
	background-position: 95% 50%;
	background-color: white;
}

.history-search button {
	position: absolute;
	bottom: 0px;
	border-radius: 0.2rem;
	color: grey;
	background: #F7F7F7;
	border: 1px solid #CDCDD0;
}
