
@import '~bootstrap/dist/css/bootstrap.css';
@import "~@fortawesome/fontawesome-free/css/all.css";
.App {
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100%;
  font-family: Helvetica;
  display: grid;
  grid-template-columns: 16rem 1fr;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.main {
  background: #F2F2F3;
  display: inline-block;
  padding: 1rem 1rem 0rem 0rem;
  width: 100%;
  max-height: 98vh;
  overflow: scroll;
  position: relative;

}

table {
  width: 100%;
  border: 0;
  border-collapse: separate;
  font-size: 12px;
  text-align: left;
  border-spacing: 0;
}

thead {
  background-color: #f5f5f4;
}

tbody {
}

tr:active,
.table-striped tr:active:nth-child(even) {
  color: #fff;
  background-color: #116cd6;
}

.table-striped td {
  padding: 0.5rem 0 0.5rem 0.5rem;
}

#center-time {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.duration {
}

.view-all {
  color: #1E81FF;
  float: right;
  padding-right: 0.5rem;
  font-weight: 300;
  font-size: 0.9rem;
}

thead tr:active {
  color: #333;
  background-color: #f5f5f4;
}

th {
  font-weight: normal;
  border-bottom: 1px solid #ddd;
}

tr {
  border-bottom: 1px solid #ddd;
}

#call-history td {
  border-bottom: 1px solid #ddd;
}

th,
td {
  padding: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th:last-child,
td:last-child {
  border-right: 0;
}

#call-history td img {
  float: left;
}

#call-history div,
#faxes div {
  display: inline-block;
  vertical-align: middle;
}

#call-history img,
#faxes img {
  margin-top: 0.2rem;
  vertical-align: middle;
  display: inline-block;
}

.name {
  margin-bottom: 0;
  font-size: 0.9rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.number {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0;
  font-weight: 300;
  color: grey;
  font-size: 0.9rem;
}