.devices-top-wrap {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 100%;
	grid-gap: 1.5rem;
}

.devices {
	text-align: left;
}

.devices-top-wrap:first-of-type > .devices-top:nth-of-type(2) {
	border: 1px solid #FC231C;
}

.devices-top {
	padding-top: 1rem;
	margin-top: 2rem;
	background: #FFFFFF;
	width: 14rem;
	height: 9rem;
	text-align: center;
	line-height: 2rem;
	border-radius: 0.2rem;
  box-shadow: 0.2px 0.2px 0.2px 0.2px grey;
  padding-bottom: 0.5rem;
  margin-right: 0;
  padding-right: 0;
  float: left;
  line-height: 1rem;
  position: relative;
}

.devices-top h2 {
	font-size: 1.4rem;
}

.devices-top p {
	margin: 0;
}

#donut {
	margin-top: 1rem;
	margin-right: 2.5rem;
	height: 3.2rem;
	display: inline-block;
	float: right;
}

#today {
	color: #2091FF;
	border-bottom: 1px solid #2091FF;
	font-weight: 500;
	padding-bottom: 0.5rem;
}

.numbers-wrap {
	float: left;
	display: inline-block;
	padding: 0 0 0 3rem;
	text-align: center;
}

.devices-name p {
	margin-bottom: 0;
}

.devices-top p:first-of-type {
	margin-top: 0.5rem;
}

.devices-top p {
	margin-bottom: 0.5rem;
}

hr {
	margin: 0;
}

.corner {
	position: absolute;
	top: 1rem;
	right: 1rem;
}


