.voicemails td {
	border-bottom: 1px solid #ddd;
}

.voicemails-top {
}

.voicemail-top-wrap {
	display: block;
	width: 20rem;
	height: 9rem;
}

.voicemails-top {
	margin-top: 2rem;
	background: #FFFFFF;
	width: 9rem;
	text-align: center;
	line-height: 2rem;
	border-radius: 0.2rem;
  box-shadow: 0.2px 0.2px 0.2px 0.2px grey;
  padding-bottom: 0.5rem;
  margin-right: 0;
  padding-right: 0;
  float: left;
}

.voicemails-top h1 {
	margin-bottom: 0;
	font-size: 1.4rem;
	font-weight: 550;
}

.voicemails-top:first-of-type {
	border-top: 2px solid #2DCB1A;
}

.checkbox-wrap {
	padding: 0.5rem;
  box-shadow: 0.2px 0.2px 0.2px 0.2px grey;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 3.5rem;
  font-size: 0.5rem;
  font-weight: 300;
  background: #F9F9F9;
  margin-right: 0;
  float: left;
  display: block;
}

.checkbox-wrap > input[type="checkbox"] {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

#voicemail-search {
	margin-top: 1rem;
  margin-bottom: 1rem;
	display: block;
	float: right;
	position: relative;
}

#voicemail-search input[type="text"] {
	padding: 0.25rem;
	width: 12rem;
  background: url(magnifying-glass.png) no-repeat scroll;
	background-position: 95% 50%;
	background-color: white;
}

.main {
	padding-right: 1rem;
	height: 100%;
}

.grey {
	color: grey;
	font-size: 0.75rem;
}

.voicemail tbody,
.voicemail thead {
	background: #F2F2F3;
}

.voicemail tbody {
	line-height: 1rem;
	font-size: 0.82rem;
}

.voicemail tbody > tr {
	border-bottom: 1px solid #CFCFD6;
	border-left: 1px solid #CFCFD6;
	border-right: 1px solid #CFCFD6;
}

.voicemail tbody > tr > td:last-of-type {
	text-align: right;
}

.voicemail tbody > tr > td:last-of-type img {
	margin-right: 0.5rem;
}

.voicemail tbody > tr > td:first-of-type {
	text-align: center;
}

.voicemail tbody > tr > td:last-of-type img {
	float: right;
}

.bottom-nav {
	float: right;
	margin-bottom: 1rem;
	margin-top: 1rem;
	font-size: 0;
}

#page-num {
	font-size: 0.7rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

.bottom-nav button {
	font-size: 0.8rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 0.1rem;
	color: grey;
	background: #F7F7F7;
	border: 1px solid #CDCDD0;
	margin-right: 0;
	margin: 0;
}

.bottom-nav button:first-of-type,
.bottom-nav button:nth-of-type(2) {
	color: lightgrey;
}

.bottom-nav button:nth-of-type(3) {
	background: #D3D3D6;
	color: black;
}

.bottom-nav select {
	width: 10rem;
	height: 2rem;
  border: 1px solid grey;
  padding: 1rem 3rem 1rem 0;
  color: black;
  font-size: 0.7rem;
  font-weight: 400;
}
