.fax-content{
	padding-top: 1rem;
	padding-left:0.2rem;
}
#faxes table {
	padding-top: 0.8rem;
}

.fax-search {
	position: relative;
}

.fax-search button {
	position: absolute;
	bottom: 0px;
	border-radius: 0.2rem;
	color: grey;
	background: #F7F7F7;
	border: 1px solid #CDCDD0;
}
.react-datepicker-wrapper{
	width: 100% !important;
}
.calendar1 {
	width: 130px;
	background: url('../../assets/images/calendar.png') no-repeat scroll;
	background-position: 95% 50%;
	background-color: white;
	position: relative;
	bottom: 0
}
.fax-search label {
	display: block;
	text-align: left;
	margin-left: 0.15rem;
	font-size: 0.8rem;
	color: grey;

}
.fax-search-text{
	width: 15rem;
	background: url('../../assets/images/magnifying-glass.png') no-repeat scroll;
	background-position: 95% 50%;
	background-color: white;
}
.faxesrow {
	color: grey;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
  margin-left: 16px;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.row2 {
	color: #000000;
  display: flex;
  flex-wrap: wrap;
  margin-left: 16px;
	width: 100%;
	justify-content: center;
	align-items: center;
	font-size:  1.1rem;
}
.faxtable{
  border: 0px;
  margin: 0 15px 0 15px !important;
  width: 100%;
}
.from-call-img{
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	display: flex;
}
.from-call-img img{
	width:20px;
	height: 20px;
}
.faxes-box{
	background: #FFFFFF;
  width: 100%;
  text-align: center;
  border-radius: 0.2rem;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
  padding: 10px 15px 12px 15px;
  float: left;
  height: 350px;
}
.tr-content{
  display: flex;
  background-color: #ffffff !important;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px 0;
  margin:0 0 10px 0px;
  float: left;
  border-radius: 4px;
	width:100%;
}
.faxdownload{
	background: #ffffff;
	border-color: #ffffff;
}
.button-disable{
	color: grey !important;
}
.button-enable{
	color: #000 !important;
}
.calltable-thead th{
	padding: 0px !important;
	color: grey;
	font-weight: bold;
}

@media (min-width: 1100px) {
  .date-margin {
    margin-right: 60px;
  }
}
@media (min-width: 1300px) {
  .date-margin {
    margin-right: 46px;
  }
}

@media (min-width: 1500px) {
	.date-margin {
    margin-right: 35px;
  }
}
@media (min-width: 1700px) {
	.date-margin {
    margin-right: 15px;
  }
}

.faxes-view-all {
  color: #1E81FF;
	font-size: 1rem;
	cursor: pointer;
	margin-left: 20px;
}
.rencent-faxes{
	height: 270px;
	overflow: auto;
}

.total-fax-content{
	background-color: #F4F4F5;
	padding: 4px 11px;
	border-radius: 50%;
	color: #222224;
	font-weight: bold;
	text-align: center;
}
.fax-icon{
	width: 18px;
	height: 18px;
	fill: currentColor;
	line-height: inherit;
	vertical-align: middle;
	color: gray;
}

.fax-title{
	padding:10px 10px 15px 5px;
	font-size: 16px;
	font-weight: 400;
}