.faxes {
	background: #F2F2F3;
	display: inline-block;
	padding-top: 16px;
	width: 100%;
	overflow: scroll;
	position: relative;
}

.fax-container{
	margin: 32px 24px 0px 24px;
  text-align: left;
}
#faxes table {
	padding-top: 0.8rem;
}

.fax-search {
	position: relative;
	display: flex;
	justify-content: flex-end;
}

.fax-search-button {
	margin-top: 27px;
	border-radius: 0.2rem;
	color: grey;
	background: #F7F7F7;
	border: 1px solid #CDCDD0;
	padding: 6px 13px;
}
.react-datepicker-wrapper{
	width: 100% !important;
}
.calendar1 {
	width: 130px;
	background: url('../../assets/images/calendar.png') no-repeat scroll;
	background-position: 95% 50%;
	background-color: white;
	position: relative;
	bottom: 0
}
.fax-search label {
	display: block;
	text-align: left;
	margin-left: 0.15rem;
	font-size: 0.8rem;
	color: grey;
}
.fax-search-text{
	margin-top: 27px;
	width: 15rem;
	background: url('../../assets/images/magnifying-glass.png') no-repeat scroll;
	background-position: 95% 50%;
	background-color: white;
}
.fax-checkbox-wrap {
	padding: 7px 15px;
	border: solid 1px #BCBCC2;
	border-radius: 2px;
  font-weight: 300;
  background: #F9F9F9;
  float: left;
	display: block;
	margin-top: 27px;
}
.fax-checkbox-trash {
	padding: 7px 10px;
	border: solid 1px #BCBCC2;
	border-radius: 2px;
  font-weight: 300;
  background: #F9F9F9;
  margin-left: 16px;
  float: left;
	display: block;
	margin-top: 27px;
}
.fax-checkbox-wrap > input[type="checkbox"] {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

.completedstatus{
  background-color: #33db24 !important;
  border-color: #33db24 !important;
  color: #071F05;
  border-radius: 15px;
  padding: 4px 12px 4px 12px;
  font-size:  12px;
}
.viewedstatus{
  background-color: #d0d0d9 !important;
  border-color: #d0d0d9 !important;
  color: #071F05;
  border-radius: 15px;
  padding: 4px 12px 4px 12px;
  font-size:  12px;
}
.failedstatus{
  background-color: #ff3d24 !important;
  border-color: #ff3d24 !important;
  color: #ffffff;
  border-radius: 15px;
  padding: 4px 12px 4px 12px;
  font-size:  12px;
}
.faxtable{
  border: 0px;
  margin-top: 24px !important;
  width: 100%;
}
.table-th {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: grey;
	font-size: 12px;
	margin-bottom: 10px;
	padding: 0 15px;
}
.fax-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-top: -1px;
  float: left;
  width:100%;
  border-top: solid 1px #BCBCC2;
  border-bottom: solid 1px #BCBCC2;
}
.fax-row:hover, .fax-row-active {
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
	background-color: #ffffff;
	border-radius: 3px;
}
.table-td{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.button-disable{
	color: grey !important;
}
.button-enable{
	color: #000 !important;
}
.calltable-thead th{
	padding: 0px !important;
	color: grey;
	font-weight: bold;
}

.faxes-view-all {
  color: #1E81FF;
	font-size: 1rem;
	cursor: pointer;
	margin-left: 20px;
}
.rencent-faxes{
	height: 270px;
	overflow: auto;
}

.total-fax-content{
	background-color: #F4F4F5;
	padding: 4px 11px;
	border-radius: 50%;
	color: #222224;
	font-weight: bold;
	text-align: center;
}
.fax-icon{
	width: 18px;
	height: 18px;
	fill: currentColor;
	line-height: inherit;
	vertical-align: middle;
	color: gray;
}

.fax-title{
	padding:10px 10px 15px 5px;
	font-size: 16px;
	font-weight: 400;
}

.faxes-box {
	background: #FFFFFF;
	width: 100%;
	text-align: center;
	line-height: 2rem;
	border-radius: 0.2rem;
	-webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
	padding: 10px 20px 20px 20px;
	float: left;
	height: 350px;
}